<div class="form-group row" [class.mandatory]="variable.mandatory" [class.advanced]="variable.advanced"
       [class.default]="variable.isDefault">
       <label class="col-form-label col-form-label-sm col-md-3" [class.is-required]="variable.mandatory" [for]="id">{{
              variable.name }}</label>
       <div class="input-group input-group-sm col-md-9">
              <div *ngIf="hasPresets" class="input-group-prepend" ngbDropdown>
                     <button ngbDropdownToggle class="btn btn-outline-secondary" type="button"
                            aria-haspopup="true" aria-expanded="false" title="Select a preset value">
                            <span class="fas fa-lightbulb"></span>
                     </button>
                     <div ngbDropdownMenu class="dropdown-menu">
                            <button *ngFor="let preset of presets" ngbDropdownItem href="javascript:null" (click)="aggregated.applyPreset(preset)"
                                   [title]="preset.description">{{ preset.name }}</button>
                     </div>
              </div>

              <!-- enum type: select -->
              <select *ngIf="isSelect" class="custom-select" [required]="variable.mandatory"
                     [(ngModel)]="variable.value">
                     <option *ngFor="let val of variable.values" [value]="val" [selected]="variable.value === val">{{ val }}</option>
              </select>

              <!-- boolean type: checkbox -->
              <input *ngIf="isCheckbox" type="checkbox" class="form-control boolean-variable"
                     [required]="variable.mandatory" [(ngModel)]="variable.value">

              <!-- all other: input with type -->
              <input *ngIf="isText" class="form-control" [id]="id" [(ngModel)]="variable.value" [type]="variable.type"
                     [required]="variable.mandatory">

              <!-- reset button (except for checkbox) -->
              <div *ngIf="hasResetExt" class="input-group-append">
                     <button class="btn btn-outline-secondary" type="button" placement="top" ngbTooltip="Reset to default" (click)="variable.reset()">
                            <span class="fas fa-sync-alt"></span>
                     </button>
              </div>
       </div>

       <!-- variable description -->
       <small class="form-text text-muted offset-md-3 col-md-9">
              <showdown [value]="variable.description"></showdown>
       </small>
</div>