:host {
  float: right;
  padding: .4rem;
  background-color: rgba(60,60,60,0.3);
  border-radius: 0 0 .3rem .3rem;
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.3);
  transition-property: max-height;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
  max-height: 2rem;
  overflow: hidden;
}
:host:hover {
  background-color: rgba(60,60,60,0.8);
  color: white;
  max-height: 15rem;
}
.heading {
  font-weight: bold;
  font-size: 1.1rem;
}
.expanded {
  display: none;
}
:host:hover .expanded {
  display: inline;
}
:host:hover .collapsed {
  display: none;
}
.custom-control {
  margin: 0;
}
#extensions-form {
  margin-top: .5rem;
  border-top: 1px solid white;
  padding-top: .5rem;
}
.inline {
  display: inline-block;
  margin-left: .3rem;
}
