<div class="heading"><span class="fas fa-angle-double-right collapsed"></span> <span class="fas fa-angle-double-down expanded"></span> Options</div>
<div class="body mt-2">
  <div class="form-group form-group-sm">
    <label for="include-mode-select">Include Mode</label>
    <select id="include-mode-select" class="custom-select" [(ngModel)]="options.includeMode">
      <option *ngFor="let mode of keys(includeModes)" [value]="mode" [selected]="options.includeMode === mode">{{ mode }}</option>
    </select>
  </div>
  <div class="form-group form-group-sm">
    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="adv-control"
            [(ngModel)]="options.showAdvanced"
            (change)="trackEvent('advanced-options', $event.target.checked)">
      <label class="custom-control-label" for="adv-control" title="Show advanced variables">Advanced options</label>
    </div>
  </div>
  <fieldset id="extensions-form" ngIfoff="extensions.length > 0">
    <legend>Extensions</legend>
    <div class="form-group form-group-sm">
      <div class="custom-control custom-checkbox" *ngFor="let ext of extensions">
        <input type="checkbox" class="custom-control-input" [id]="'ext-' + ext.id"
              [checked]="options.hasExtension(ext.id)"
              (change)="options.setExtension(ext.id, $event.target.checked)">
        <label class="custom-control-label" [for]="'ext-' + ext.id" [title]="ext.description">{{ ext.name }}</label>
      </div>
    </div>
  </fieldset>
</div>
