.gitlab-ci-toolbar {
  /* border-left: solid 10px #595959; */
  background-color: #ddd;
  width: auto;
  border-top: solid #2b2b2b 6px;
}
.gitlab-ci-container  {
  position: relative;
  display: block;
  width: auto;
}
#gitlab-ci-content {
  min-height: 10rem;
}
code {
  display: block;
  font-family: monospace;
  white-space: nowrap;
  background-color: #2B2B2B;
  color: #fff;
  padding: 10px;
  line-height: 1.4;
  overflow: auto;
}
div {
  width: fit-content;
}
pre {
  color: inherit;
  margin: 0;
}
.comment {
  font-style: italic;
  color: #609453;
}
.key {
  font-weight: bold;
  color: #cc7630;
}
textarea.code {
  white-space: pre;
}
.btn-clipboard {
  position: absolute;
  z-index: 1;
  top: 10px;
  right: 10px;
}
.btn-clipboard {
  background-color: white;
}
.btn-clipboard:hover, .btn-clipboard:focus, .btn-clipboard:active {
  background-color: black;
  color: white;
}
.custom-control-text {
  position: relative;
  display: block;
  min-height: 1.25rem;
}
.custom-control-label-text {
  margin: auto .625rem auto 0;
}
.custom-control-input-text {
  width: 15rem;
  display: unset;
}